<div class="image-list">
<div id="blazor_cropper" class="image-list unSelectAble" style="@(RatioStyle+ImglistStyle)" >
    <img id="oriimg" class="imgbac" draggable="false" src="" style="@(BackgroundImgStyle)"
        @ontouchend="(args)=>{
                 if(_onTwoFingerResizing||_isBacMoving)
                 {
                     _isBacMoving = false;
                     _onTwoFingerResizing=false;
                     InitBox();
                 }
             }"
        @ontouchmove:stopPropagation
        @ontouchstart:stopPropagation
        @ontouchmove="OnResizeBackGroundImage"
        @ontouchstart="args=>{
                   _prevBacX = args.Touches[0].ClientX;
                   _prevBacY = args.Touches[0].ClientY;
                   _isBacMoving = true;
               }"
        @onmousedown="args=>{
                  _prevBacX = args.ClientX;
                  _prevBacY = args.ClientY;
                  _isBacMoving = true;
              }"/>
    <div draggable="false" id="mainBox" @ontouchstart:stopPropagation
        @ontouchend="args=> OnSizeChangeEnd(TouchToMouse(args))"
        style="@_cropperStyle">
        <div id="left-up" class="minBox left-up" @ontouchstart="args=> OnResizeStart(TouchToMouse(args),MoveDir.UpLeft)" @onmousedown="args=> OnResizeStart(args,MoveDir.UpLeft)"></div>
        <div id="up" class="minBox up" @ontouchstart="args=> OnResizeStart(TouchToMouse(args),MoveDir.Up)" @onmousedown="args=> OnResizeStart(args,MoveDir.Up)"></div>
        <div id="right-up" class="minBox right-up" @ontouchstart="args=> OnResizeStart(TouchToMouse(args),MoveDir.UpRight)" @onmousedown="args=> OnResizeStart(args,MoveDir.UpRight)"></div>
        <div id="left" class="minBox left" @onmousedown="args=> OnResizeStart(args,MoveDir.Left)" @ontouchstart="args=> OnResizeStart(TouchToMouse(args),MoveDir.Left)"></div>
        <div id="right" class="minBox right" @onmousedown="args=> OnResizeStart(args,MoveDir.Right)" @ontouchstart="args=> OnResizeStart(TouchToMouse(args),MoveDir.Right)"></div>
        <div id="left-down" class="minBox left-down" @onmousedown="args=> OnResizeStart(args,MoveDir.DownLeft)" @ontouchstart="args=> OnResizeStart(TouchToMouse(args),MoveDir.DownLeft)"></div>
        <div id="down" class="minBox down" @onmousedown="args=> OnResizeStart(args,MoveDir.Down)" @ontouchstart="args=> OnResizeStart(TouchToMouse(args),MoveDir.Down)"></div>
        <div id="right-down" class="minBox right-down" @onmousedown="args=> OnResizeStart(args,MoveDir.DownRight)" @ontouchstart="args=> OnResizeStart(TouchToMouse(args),MoveDir.DownRight)"></div>
    </div>
    <img id="dimg" @onmousedown="OnDragStart" @ontouchstart="args=> OnDragStart(TouchToMouse(args))"
        @ontouchend="args=> OnDragEnd(TouchToMouse(args))"
        class="img" draggable="false"  style="@(BackgroundImgStyle+_cropedImgStyle)" src="" @ontouchstart:stopPropagation />
</div>
</div>

<style>
.unSelectAble{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    touch-action: none;
    -ms-touch-action: none;
}

.image-list{
    position: relative;
    background-color: grey;
    overflow: auto;
    scrollbar-width: none;
}

.image-list::-webkit-scrollbar {
    display: none;
}

.imgbac{
    opacity: 0.5;
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;

}
.img{
    position: absolute;
    clip: rect(0, 150px, 150px, 0);
    cursor: move;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
#mainBox {
    border: 1px solid white;
    position: absolute;
    width: 150px;
    height: 150px;
    cursor: move!important;
}

.minBox {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: white;
}

.left-up {
    top: -6px;
    left: -6px;
    cursor: nw-resize;
}

.up {
    left: 50%;
    margin-left: -6px;
    top: -6px;
    cursor: n-resize;
}

.right-up {
    right: -6px;
    top: -6px;
    cursor: ne-resize;
}

.left {
    top: 50%;
    margin-top: -6px;
    left: -6px;
    cursor: w-resize;
}

.right {
    top: 50%;
    margin-top: -6px;
    right: -6px;
    cursor: e-resize;
}

.left-down {
    bottom: -6px;
    left: -6px;
    cursor: sw-resize;
}

.down {
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    cursor: s-resize;
}

.right-down {
    bottom: -6px;
    right: -6px;
    cursor: se-resize;
}
@@media screen and (max-width: 1080px) {
    .right-down,.left-down,.left-up,.right-up{
        z-index: 99;
    }
    .right,.left,.down,.up{
        display: none;
    }
}
</style>
